# Python cache
__pycache__/
*.py[cod]
*$py.class

# CARLA (只忽略 CARLA 目录)
carla/
build/
ckpts/
mmcv.egg-info/
save_path/

# Compiled extensions
*.so
*.dylib
*.dll
Bench2Drive-mini
visualization_results
visualization_results_quick
*.log